.text-shadow {
    text-shadow: 1px 1px 4px rgba(0,0,0,0.75);
}
.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.portfolio-box {
    overflow: hidden;
}

.portfolio-box img {
    transition: all .2s ease-out;
}

.portfolio-box:hover img {
    transform: scale(1.5);
}