.portfolio-item {
    min-height:15em;
    background-size:     cover; 
    background-repeat: no-repeat;
    background-position: center center;
}

.portfolio-box-caption {
    opacity:0;
    text-align:center;
    height:100%;
    background-color: #f05f40;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    color:white;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: bold;
}
.portfolio-item:hover .portfolio-box-caption {
    opacity:1;
    filter: blur(20px);
}